.content {
  width: 220px;
}
.wrapper {
  background-color: transparent;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: flex-start;
  min-height: 35px;
  width: 100%;
  padding: 8px 16px;
  font-size: 1.1rem;
  &:hover {
    background-color: rgba(204, 204, 204, 0.181);
  }
  &.seprate {
    padding-top: 10px;
    border-top: 1px solid rgba(22, 24, 35, 0.12);
  }
}

.title-item {
  margin-left: 8px;
}

.header-menu {
  flex-shrink: 0;
  margin-top: -8px;
  position: relative;
  height: 50px;
}

.back-btn {
  width: 50px;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
}

.header-menu-title {
  display: flex;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1rem;
  transform: translate(-50%, -50%);
}
