.wrapper {
  position: relative;
}
.content {
  width: 370px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.items {
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  border: 1px solid #fff;
  line-height: 25px;
  background-color: transparent;
  border-radius: 16px;
  padding: 0 12px;
}
.items:hover {
  border: 1px solid var(--primary-color--2);
  color: var(--primary-color--2);
}
