.wrapper {
  // display: none;
  display: flex;
  height: 721px;
  width: 100%;
  background-image: url(~/src/assets/svg/background1.svg);
  flex-direction: column;
  align-items: center;

  background-size: contain;
}

.container {
  margin-top: 60px;
  // padding: 0 20px;
  display: flex;
  height: 100%;
  width: var(--default-layout-width);
  justify-content: space-between;
  width: 100%;
}

.content {
  position: relative;
  margin-left: 320px;
  z-index: 1;
  flex: 0 1 auto;
}
.music-song {
  z-index: 2;
  display: flex;
  right: 0;
  height: 564px;
  position: relative;
  border-left: 1px solid var(--border-primary);
  overflow: auto;
  padding: 10px 0 10px 10px;
  margin: 5px 0 5px 0;
}
