.wapper {
  z-index: 2;
  max-height: 100px;
  background-color: var(--modal);
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
.fullscreen {
  margin-left: 20px;
  display: flex;
  align-items: center;
  .img-song {
    display: flex;
    height: 64px;
    width: 64px;
    border-radius: 50%;
  }
  .about {
    margin-left: 10px;
    font-size: 1rem;
    font-weight: 900;
    .name-song {
      font-size: 1.1rem;
      font-weight: 900;
    }
    .author {
      opacity: 0.7;
      font-size: 1rem;
      font-weight: 900;
    }
  }
}
.action {
  margin-left: 150px;
  min-width: 500px;
  flex-direction: column;
  display: flex;
  align-items: center;
  .control {
    position: relative;
    width: 300px;
    justify-content: space-around;
    display: flex;
    align-items: center;
  }
  .play-song {
    padding-bottom: 10px;
    position: relative;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.playing,
.pause {
  position: absolute;
}

button,
input,
[tabindex] {
  width: 640px;
  outline: none;
  border: none;
}
.more {
  margin-left: 200px;
}
