.search,
.search-result {
  width: 450px;
}

.search {
  position: relative;
  width: 450px;
  height: 42px;
  padding-left: 16px;
  display: flex;
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: 92px;
  background-color: var(--background-white);
  border: 1.5px solid transparent;

  &::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 429px;
    width: 18px;
    height: 38px;
    border-bottom-left-radius: 92px;
    border-top-left-radius: 92px;
    background-color: var(--background-white);

    // border-color: rgba(22, 24, 35, 0.2);
  }
  input {
    flex: 1;
    margin-left: 2px;

    /* padding: 0 5px; */

    padding-right: 40px;
    font-size: 1rem;
    background-color: var(--background-white);
  }

  input:not(:placeholder-shown) ~ .search-btn {
    // // color: rgba(22, 24, 35, 0.75);
    // color: red;
    color: var(--white);
  }

  // &::after {
  //   content: '';
  //   position: absolute;
  //   top: 4px;
  //   right: 40px;
  //   width: 1px;
  //   height: 27px;

  //   background-color: rgba(22, 24, 35, 0.12);
  // }

  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
}

.clear,
.loading {
  right: 56px;
  font-size: 1rem;
  position: absolute;
  /* right: calc(var(--search-button-width) + 16px); */
  top: 50%;
  transform: translateY(-50%);
  color: var(--white);
  background-color: transparent;
}

.loading {
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.search-btn {
  background-color: var(--background-white);
  width: 42px;
  height: 100%;
  border-top-right-radius: 92px;
  border-bottom-right-radius: 92px;
  font-size: 1.4rem;
  color: var(--white);

  // &:hover {
  //   cursor: pointer;
  //   background-color: rgba(22, 24, 35, 0.03);
  // }

  // &:active {
  //   background-color: rgba(22, 24, 35, 0.06);
  // }
}

.search-title {
  font-size: 1.2rem;
  padding: 0 12px;
  opacity: 0.7;
  font-weight: 700;
}
