.home {
  height: 200%;
  width: 920px;
  .swiper {
    width: 100%;
  }
}

.home {
  margin-left: -26px;
  padding: 32px 40px;
}

.home-slider {
  width: 100%;
  margin: 0 auto;
}

.home-slider-item img {
  object-fit: cover;
  border-radius: 8px;
  height: auto;
  width: 100%;

  cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
  top: 60px;
  color: #fff;
  --swiper-navigation-size: 24px;
  background-color: #ffffff4d;
  padding: 24px;
  border-radius: 50%;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next .card-list-group {
  top: 63px;
}
.swiper-button-prev {
  top: 10px;
}
.home-singer img {
  width: 100%;
  height: auto;
}

.home-category {
  display: none;
  margin-top: 24px;
  width: 100%;
  justify-content: space-between;
}

.home-category .navigation-item {
  flex-direction: column;
  width: 22%;
  border-radius: 8px;
  background: var(--primary-color);
  padding: 12px;
}

@media (max-width: 768px) {
  .home {
    padding: 24px 24px 48px;
  }

  .home-category {
    display: flex;
  }
}

@media (max-width: 600px) {
  .home {
    padding: 16px 16px 48px;
  }
}
.h3-heading {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 16px;
  margin-top: 20px;
}
.bottom {
  height: 120px;
}
.home .swiper {
  height: 200px;
}
